@css {
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/RBnwCWfuc-HyYSgdK3uw-3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
  }
  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/b31S45a_TNgaBApZhTgE6L3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
  }
}
