footer
  max-width 1024px
  margin 0px auto
  font-size 12px
  line-height 20px
  padding-left 50px
  color #9
  margin-bottom 75px
  border-top 1px solid hsl(227deg, 13%, 82%)
  padding-top 16px
  margin-top 60px
  padding-right 50px
  @media MediaMobile
    padding-left 15px
    padding-right 15px
