body > header
  position fixed
  top 0px
  left 0px
  width 100%
  height 45px
  border-bottom 1px solid hsl(227deg, 13%, 82%)
  background #FFF
  z-index 30
  transition background 0.4s
  h1
    text-align center
    margin 0px
    font-size 24px
    font-weight 900
    line-height 48px
    color #222D55
    text-transform uppercase
    font-weight 400
    transition opacity 0.4s
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-left 210px
    margin-right 95px
    @media MediaSmallScreen
      margin-left 55px
    @media MediaMobile
      max-width 80%
      margin-left 50px
      margin-right 88px
      font-size 18px
      line-height 52px
      text-transform none
  a#logo
    display block
    position absolute
    left 0px
    top 0px
    padding 10px 20px
    LogoScaleFactor = unit((@height - 20) / 47, '')
    width ((320px * LogoScaleFactor) + 40)
    height (@height - 1px)
    overflow hidden
    background transparent
    transition background 0.4s
    svg
      transform-origin 0 0
      transform scale(LogoScaleFactor)
      path
        fill ColorRadiozurnal
        transition fill 0.4s
    &:hover
      background ColorRadiozurnal
      svg path
        fill white
  .shares
    float right
    height (@height - 1px)
    position absolute
    top 0px
    right 0px
    a
      display block
      float left
      width @height
      height @width
      position relative
      transition background 0.4s
      z-index 50
      svg
        transform-origin 0 0
        position absolute
        top 50%
        left 50%
        opacity 1
        path
          fill ColorRozhlas
          transition fill 0.4s
      &:hover
        svg path
          fill white
      &.fb
        svg
          ScaleFactor = unit((@height - 23) / 219, '')
          transform scale(ScaleFactor) translate(-50%,-50%)
        &:hover
          background darken(#3F67C0, 30%)
      &.tw
        svg
          ScaleFactor = unit((@height - 23) / 139, '')
          transform scale(ScaleFactor) translate(-50%,-50%)
        &:hover
          background darken(#35B5EB, 30%)
