main
  max-width 100vw
  overflow hidden
  #content
    max-width 1024px
    margin 0px auto
    padding 60px 0px 0px 0px
    &.no-cover-img
      padding-top 20px
    > p:first-child
      margin-top 0px
    > p
    > ul > li
    > blockquote p
      line-height 1.9em
      font-size 16px
      a
        text-decoration none
        text-shadow 1px 0px 0px #f, -1px 0px 0px #f, 2px 0px 0px #f, -2px 0px 0px #f
        color hsl(ColorRozhlasH, (ColorRozhlasS - 5), (ColorRozhlasL + 30))
        position relative
        background linear-gradient(to bottom, #fff 16.5px, @color 17.5px, #fff 18.5px)
        transition color 0.2s
        &:hover
          color hsl(ColorRozhlasH, (ColorRozhlasS - 15), (ColorRozhlasL + 40))
          background none
    > h2
    > h3
    > h4
    > p
    > ul
    > blockquote
    > table
      width 100%
      max-width 500px
      margin-left 340px
      margin-right 0px
      @media MediaSmallScreen
        margin-left 0px
        padding-left 15px
        padding-right 15px
        max-width none
    @media MediaSmallScreen
      > table
        padding-left 0px
        padding-right 0px
        margin-left 15px
        margin-right 15px
    > ul
      list-style square
      > li
        padding-left 17px
        margin-left 26px
        margin-bottom 5px
    h2
      font-size 28px
      font-weight 900
      line-height 1.5em
      margin-bottom 1em
      margin-top 1.5em
    h3
      margin-top 1.5em
      margin-bottom 1em
    blockquote
      margin-top 1.5em
      margin-bottom 1em
      font-weight normal
      font-style italic
      font-size 16px
      padding-left 1em
      border-left 4px solid #d
      p
        margin 0px
      @media MediaSmallScreen
        margin-left 15px
        padding-left 0.5em
    p + img
      position relative
    p + h2
      margin-top 1.9em
    > aside > figure
      margin 0px
    > aside.big
      margin 3em 0px
    > aside.small
      width 300px
      position absolute
    > aside
      .highcharts
        max-height 90vh
      iframe
        width 100%
        border 0
    > table
      border-collapse collapse
      th
        border-bottom 1px solid #a0
      th
      td
        padding 4px 6px
      td
        border-bottom 1px dotted #c0
    @media MediaSmallScreen
      > aside.big
      > aside.small
        position static
        width 100%
        figcaption
          padding-left 15px
        iframe
          max-width 100vw
          max-height 80vh
          &:not(.no-stretch)
            width 100%
          &.no-stretch
            margin-left 15px
