.player
  position absolute
  right -57px
  top 200px
  width 274px
  opacity 0.4
  transition opacity 0.4s
  z-index 1
  @media MediaSmallScreen
    position fixed !important
    top 46px !important
    left auto !important
    right 0 !important
    z-index 10
  @media MediaMobile
    left 15px !important
    top 82px !important
  &.playing
    opacity 0.6
  &.paused
    opacity 0.2
  &.loading
    opacity 0.9
  &:hover
    opacity 1
  .button
    font-size 60px
    width 100%
    text-align center
    position absolute
    top 0px
    left 0px
    line-height 60px
    opacity 0
    z-index 1
    transition opacity 0.2s
    &.pause
      font-size 29px
      line-height 65px
      padding-left 9px
    &.loading
      font-size 71px
      line-height 57px
      padding-bottom 11px
      width 42px
      left 50%
      margin-left -21px
      margin-left
      background yellow
  .error-message
    display none
  &.error
    opacity 0.9
    position @position !important
    top @top !important
    right @right !important
    left auto !important
    .progress
      display none
    .error-message
      display block
      position absolute
      top 83px
      text-align center
  &.playing .button.pause
  &.paused .button.play
  &.loading .button.loading
    opacity 1
    z-index 2
  &.playing .button.pause
  &.paused .button.play
    cursor pointer
  &.loading .button.loading
    cursor default
    animation rotate 5s infinite linear


  .progress
    position absolute
    top 80px
    width 100%
    height 30px
    cursor pointer
    .line
      position absolute
      top 15px
      width 100%
      border-bottom 1px dotted black
    .point
      position absolute
      top 15px
      width 10px
      height 10px
      transform translate(-50%,-50%)
      background white
      border 1px solid black
      border-radius 50%
  audio
    display none
    position absolute
    top 79px
    right 15px
    background white
    @media MediaSmallScreen
      top 0
    @media MediaMobile
      right auto
      left 0
  &.ipad
    opacity 0.8
    audio
      display block
      ~ *
        display none
  @media MediaSmallScreen
    audio
      display block
      ~ *
        display none

