.projev-selector
  position absolute
  width 980px
  height 65px
  background linear-gradient(to bottom, rgba(255,255,255,0.98) 0%,rgba(255,255,255,0.98) 90%,rgba(255,255,255,0) 100%);
  top -9px
  left 18px
  padding-top 9px
  transition height 0.4s
  z-index 2
  &:hover
    background linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.98) 7px,rgba(255,255,255,0.98) 100%);
  &.top
    background transparent
  select
    display none
  ol
    list-style-type none
    margin 0px
    padding 0px
    float left
    width 970px
    position absolute
    height 27px
    z-index 2
    li
      box-sizing content-box
      display block
      width 11px
      height 90px
      top -20px
      position absolute
      transition top 0.2s, opacity 0.4s
      opacity 0.2
      .point
        box-sizing content-box
        position absolute
        top 23px
        left 2px
        width 7px
        height 7px
        border-radius 50%
        transition opacity 0.4s, transform 0.2s, height 0.4s
        &.gs
          opacity 0.8
      .item-popisek
        position absolute
        top 1px
        left -35px
        width 80px
        text-align center
        font-size 0.72em
        opacity 0
        color #6
        z-index 2
        background linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
        pointer-events none
        .full-popisek
          display none
        .short-popisek
          display inline
      &.active
        opacity 1
        z-index 2
        .point
          opacity 1
          background #ab0000 !important
      &:hover
        cursor pointer
        z-index 3
        .point
          opacity 0.5
        .item-popisek
          opacity 1
      &.second-row
        z-index 3
        height 25px
        .point
          top 0px
        .item-popisek
          top -64px
  &:not(:hover):not(.top)
    .point
      height 7px !important
    li.active .item-popisek
      opacity 1
      color #8
      width 140px
      left -65px
      .full-popisek
        padding-right 0.5em
        text-transform uppercase
        display inline
      .short-popisek
        display none
    li.second-row
      top 15px
      .item-popisek
        top -34px
  &:hover
  &.top
    height 155px
    .point.gs
      opacity 0 !important
    .point
      border-radius 2px
    li.second-row
      top 45px
    li.second-row-4
      top 60px
      .item-popisek
        top -79px
    li.second-row-5
      top 55px
      .item-popisek
        top -74px
    li.second-row-7
      top 53px
      .item-popisek
        top -72px
    li.second-row-9
      top 57px
      .item-popisek
        top -76px
    li.second-row-11
      top 55px
      .item-popisek
        top -74px
    li.second-row-13
      top 55px
      .item-popisek
        top -74px
    li.second-row-15
      top 53px
      .item-popisek
        top -72px
  &.top
    li
      opacity 0.4 !important
    li.active
      opacity 0.9 !important
    .popisky
      opacity 0.8 !important
  &:hover
    li
      opacity 1 !important
    .popisky
      opacity 1 !important
  &.top
    .point.gs
      opacity 1 !important
    &:hover
      .point.gs
        opacity 0 !important

  .popisky
    height 19px
    position relative
    opacity 0
    transition opacity 0.4s
    z-index 2
    .popisek
      position absolute
      text-transform uppercase
      font-size 0.72em
      color #6
      &:nth-child(1)
        left 171px
        text-align left
      &:nth-child(2)
        left 232px
      &:nth-child(3)
        left 280px
        width 128px
        text-align center
      &:nth-child(4)
        left 413px
        width 67px
        text-align center
      &:nth-child(5)
        left 486px
        width 174px
        text-align center
      &:nth-child(6)
        left 665px
        width 37px
        text-align center
      &:nth-child(7)
        left 716px
        width 117px
        text-align center
      &:nth-child(8)
        left 838px
        width 116px
        text-align center
      &:nth-child(9)
        right -9px
        text-align right
      &:nth-child(10)
        z-index 2
        top 100px
        right -9px
        transition top 0.2s
      &:nth-child(11)
        top 94px
        left 677px
      &:nth-child(12)
        left -18px
      &:nth-child(13)
        left 25px
        width 151px
        text-align center
      &:nth-child(14)
        top 73px
        left 10px
        text-align left
  &:hover .popisky
  &.top .popisky
    opacity 1

  &.top .popisky .popisek:nth-child(10)
    top 70px !important
  @media MediaSmallScreen
    width 100%
    height 45px !important
    position fixed !important
    top 43px !important
    ol
    .popisky
      display none
    select
      display block
      font-family 'PT Serif', sans-serif
      margin-left 35px
      font-size 20px
      font-family
      border-color #eee
      background white
    &:not(.top)
      select
        border-color transparent
  @media MediaMobile
    left 0 !important
    height 100px !important
    select
      width calc(100% - 30px)
      font-size 16px
      margin-left 15px

