main
  font-family 'PT Serif', sans-serif
  position relative !important
  margin 60px auto 0 auto !important
  max-width 1024px
  *,
  *:before,
  *:after
    box-sizing border-box
  .projev
    position relative
    margin-left 50px
    width 900px
    @media MediaSmallScreen
      width calc(100% - 100px)
    @media MediaMobile
      width calc(100% - 30px)
      margin-left 15px
      font-size 0.8em
    top 20px
    transition opacity 0.2s
    opacity 1
    &.fading
      opacity 0
  h1
    font-size 3.4em
    font-weight 400
    margin 1.6em 0px 0.5em 0px
    @media MediaSmallScreen
      margin-top 20px
    @media MediaMobile
      margin-top 50px
      font-size 3em
    line-height 1.5em
  h2
    font-size 2em
    font-weight 400
    margin 1em 0px 1.5em 0px
    line-height 1.5em
    font-style italic
    max-width 700px
  .projev-content
    max-width 600px
    font-size 1.4em
    line-height 1.9em
    p
      font-weight 400
      text-indent 2em
      margin 1em 0px
      white-space pre-line
      position relative
      &:first-of-type
      &.bad-transcript:nth-child(2)
        text-indent 0px
        margin-top 2em
      &.highlighted
        background #ffb
      &.bad-transcript:first-child
      small
        line-height 1.1em
        font-size 0.9em
        color #6
        font-style italic
        text-indent 0px
        display block
      a
        color black
        text-decoration none
        &:hover
          text-decoration none
          cursor text
      a[data-play-start]
        border-bottom 1px dotted ColorRozhlas
        position relative
        &:hover
          cursor pointer
        &:before
          display block
          background ColorRozhlas
          content: "▶"
          left -30px
          top 1px
          font-size 12px
          width 26px
          height @width
          line-height 20px
          text-align center
          border-radius 50%
          position absolute
          text-indent 0
          color white
          opacity 0
          padding-left 2px
          transition opacity 0.4s
          border 3px solid white
        &:hover:before
          opacity 1
        &.loading:before
          font-family arial
          content: "◦"
          font-size 23px
          text-align right
          animation rotate 2s infinite linear
        &.playing:before
          font-size 6px
          padding-left 2px
          content: "▌▌"
        &.loading:before
        &.playing:before
          opacity 1
      a.share
        z-index 1
        position absolute
        left -70px
        display block
        width 70px
        height 60px
        background-repeat no-repeat
        background-size contain
        background-position left top
        background-color white
        position absolute
        img
          transition opacity 0.2s
          opacity 0
          position absolute
          top 0px
          left 20px
          width 40px
          height auto
        &.facebook
          top -5px
        &.twitter
          top 55px
      &:hover
        a.share
          z-index 4
          img
            opacity 0.12
          &:hover
            cursor pointer
            img
              opacity 0.6

  .medailon
    position absolute
    top 0px
    right 0px
    width 160px
    height 160px
    border-radius 50%
    border 1px solid #c
    @media MediaSmallScreen
      display none
  .arrow
    position absolute
    top 31px
    font-size 120px
    height 100px
    width 60px
    padding-top 25px
    line-height 19px
    color black
    opacity 0.1
    transition opacity 0.4s
    @media MediaMobile
      display none
    &.fixed
      position fixed
      top 148px
      @media MediaSmallScreen
        top 96px
    &.left
      left -50px
      padding-left 10px
      text-align left
      z-index 3
    &.fixed.left
      left 0
    &.right
      right -50px
      height 85px
      text-align right
      z-index 3
      overflow hidden
      @media MediaSmallScreen
        right -40px
    &.fixed.right
      left 940px
      @media MediaSmallScreen
        left auto !important
        right 10px !important

    &:hover
      cursor pointer
      opacity 1
    &.disabled
      opacity 0
      &:hover
        cursor default
  .projev-footer
    border-top 1px solid #b
    padding-left 50px
    padding-right 50px
    margin-top 120px
    padding-bottom 60px
    padding-top 30px
    max-width 700px
    color #888
    font-style italic
    a
      color @color
      text-decoration underline
      &:hover
        text-decoration none
